@model ShopVM
@foreach (var item in Model.Products.Take(9))
{
    <div class="product-item col-md-6 col-lg-6 col-xl-4">
        <div class="rounded position-relative fruite-item" category-id="@item.CategoryId">
            <div class="fruite-img">
                <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@item.Id">
                    <img style="height:215px;" src="~/img/@item.ProductImages.FirstOrDefault(m=>m.IsMain)?.Image" class="img-fluid w-100 rounded-top" alt="">
                </a>
            </div>
            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.Category.Name</div>
            <div class="p-4 border border-secondary border-top-0 rounded-bottom item">
                <h4>@item.Name</h4>
                <p>@item.Description</p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold mb-0">$@item.Price.ToString("N2") / kg</p>
                    <form id="addToCartForm-@item.Id" asp-controller="Basket" asp-action="Add" asp-route-productId="@item.Id" basket-id="@item.Id">
                        <button type="submit" class="addToCartBtn btn border border-secondary rounded-pill px-3 text-primary" basket-id="@item.Id">
                            <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}