@using AspEndProject.Models

@model ShopVM


<!-- Single Product Start -->
<div class=" container-fluid py-5 mt-5">
    <div class="mt-3 container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-8 col-xl-9">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="border rounded">
                            <a href="#">
                                <img src="~/img/@Model.Product.ProductImages.FirstOrDefault(m=>m.IsMain).Image" class="img-fluid rounded" alt="Image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="fw-bold mb-3">@Model.Product.Name</h4>
                        <p class="mb-3">Category: @Model.Product.Category.Name</p>
                        <h5 class="fw-bold mb-3">@Model.Product.Price.ToString("N2") $</h5>
                        <div class="d-flex mb-4">
                            @for (int i = 0; i < Model.Product.Rating; i++)
                            {
                                <i class="fas fa-star text-primary"></i>
                            }

                            @for (int i = 0; i < Math.Abs((int)Model.Product.Rating - 5); i++)
                            {
                                <i class="fas fa-star"></i>
                            }
                        </div>
                        <p class="mb-4">@Model.Product.Description</p>
                        <p class="mb-4">
                            Discover our selection of products—all fresh, ensuring top quality and satisfaction.
                            From farm to table, enjoy the assurance of freshness with every purchase.
                        </p>
                        <div class="input-group quantity mb-5" style="width: 100px;">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control form-control-sm text-center border-0" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <form id="addToCartForm-@Model.Product.Id" asp-controller="Basket" asp-action="Add" asp-route-productId="@Model.Product.Id" basket-id="@Model.Product.Id">
                            <button type="submit" class="addToCartBtn btn border border-secondary rounded-pill px-3 text-primary" basket-id="@Model.Product.Id">
                                <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                            </button>
                        </form>
                    </div>
                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs mb-3">
                                <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                        id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                        aria-controls="nav-about" aria-selected="true">
                                    Description
                                </button>
                                <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                        id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                        aria-controls="nav-mission" aria-selected="false">
                                    Reviews
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content mb-5">
                            <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                <p>
                                    @Model.Product.Description
                                </p>
                                <p>
                                    Discover our selection of products—all fresh, ensuring top quality and satisfaction. From farm to table, enjoy the assurance of freshness with every purchase.
                                </p>
                                <div class="px-2">
                                    <div class="row g-4">
                                        <div class="col-6">
                                            <div class="row bg-light align-items-center text-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Weight</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">@Model.Product.Weight kg</p>
                                                </div>
                                            </div>
                                            <div class="row text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Country of Origin</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">Azerbaijan</p>
                                                </div>
                                            </div>
                                            <div class="row bg-light text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Quality</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">@Model.Product.Quality</p>
                                                </div>
                                            </div>
                                            <div class="row text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Сheck</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">@Model.Product.Сheck</p>
                                                </div>
                                            </div>
                                            <div class="row bg-light text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Min Weight</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">@Model.Product.MinWeight.ToString("N2") Kg</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane comments" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                                @foreach (var item in Model.Product.Reviews)
                                {
                                    <div class="d-flex" style="gap: 20px">
                                        <img src="img/avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                                        <div class="">
                                            <p class="mb-2" style="font-size: 14px;">@item.CreateDate.ToString("MMMM dd, yyyy")</p>
                                            <div class="d-flex justify-content-between">
                                                <h5>@item.AppUser.FullName</h5>
                                                <div class="d-flex mb-3">
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                            <p>@item.Message</p>
                                        </div>

                                        <button class="@(ViewBag.AppUserId != item.AppUserId ? "d-none" : "") delete-comment btn btn-md rounded-circle bg-light border mt-4" style="width: 35px; height: 35px;" id="@item.Id">
                                            <i class="fa fa-times text-danger"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                            <div class="tab-pane" id="nav-vision" role="tabpanel">
                                <p class="text-dark">
                                    Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                                    amet diam et eos labore. 3
                                </p>
                                <p class="mb-0">
                                    Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                    Clita erat ipsum et lorem et sit
                                </p>
                            </div>
                        </div>
                    </div>
                    <form>
                        <h4 class="mb-5 fw-bold">Leave a Reply</h4>
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="border-bottom rounded my-4">
                                    <textarea
                                              class="form-control border-0 message" cols="30" rows="8"
                                              placeholder="Your Review *" spellcheck="false">
                                    </textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="d-flex justify-content-between py-3 mb-5">
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0 me-3">Please rate:</p>
                                        <div class="d-flex align-items-center" style="font-size: 12px;">
                                            <i class="fa fa-star text-muted"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <button product-id="@Model.Product.Id" class="add-comment btn border border-secondary add-review text-primary rounded-pill px-4 py-3">
                                        Post Comment
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="row g-4 fruite">
                    <div class="col-lg-12">
                        <div class="input-group w-100 mx-auto d-flex mb-4">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                        <div class="mb-4">
                            <h4>Categories</h4>
                            <ul class="list-unstyled fruite-categorie">
                                @foreach (var item in Model.Categories)
                                {
                                    <li>
                                        <div class="d-flex justify-content-between fruite-name">
                                            <a href="#"><i class="fas fa-apple-alt me-2"></i>@item.Name</a>
                                            <span>(@Model.Products.Where(m=>m.CategoryId== item.Id).Count())</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h4 class="mb-4">Featured products</h4>
                        @foreach (var item in Model.Products.Skip(3).Take(6))
                        {
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rounded" style="width: 100px; height: 100px;">

                                    <a asp-action="ProductDetail" asp-controller="Shop" asp-route-id="@item.Id">
                                        <img src="~/img/@item.ProductImages.FirstOrDefault(m=>m.IsMain).Image" class="img-fluid rounded" alt="Image">
                                    </a>
                                </div>
                                <div class="mx-3">
                                    <h6 class="mb-2">@item.Name</h6>
                                    <div class="d-flex mb-2">
                                        @for (int i = 0; i < item.Rating; i++)
                                        {
                                            <i class="fas fa-star text-primary"></i>
                                        }

                                        @for (int i = 0; i < Math.Abs((int)item.Rating - 5); i++)
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                    </div>
                                    <div class="d-flex mb-2">
                                        <h5 class="fw-bold me-2">@((item.Price).ToString("N2")) $</h5>
                                        <h5 class="text-danger text-decoration-line-through">@((item.Price*2).ToString("N2")) $</h5>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="d-flex justify-content-center my-4">
                            <a asp-action="Index" asp-controller="Shop" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew More</a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="position-relative">
                            <img src="~/img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                            <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="fw-bold mb-0">Related products</h1>
        <div class="vesitable">
            <div class="owl-carousel vegetable-carousel justify-content-center">
                @foreach (var item in Model.Products)
                {

                    <div class="border border-primary rounded position-relative vesitable-item">

                        <a asp-action="ProductDetail" asp-controller="Shop" asp-route-id="@item.Id">
                            <div class="vesitable-img">
                                <img style="height:215px" src="~/img/@item.ProductImages.FirstOrDefault(m=>m.IsMain).Image" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                        </a>
                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">@item.Category.Name</div>
                        <div class="p-4 pb-0 rounded-bottom">
                            <h4>@item.Name</h4>
                            <p>@item.Description</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold">$@item.Price.ToString("N2") / kg</p>
                                <form id="addToCartForm-@item.Id" asp-controller="Basket" asp-action="Add" asp-route-productId="@item.Id" basket-id="@item.Id">
                                    <button type="submit" class="addToCartBtn btn border border-secondary rounded-pill px-3 text-primary" basket-id="@item.Id">
                                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<!-- Single Product End -->
