@model List<BasketListVM>

@{
    decimal totalPrice = 0;
}


<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Cart</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active text-white">Cart</li>
    </ol>
</div>
<!-- Single Page Header End -->

<div id="cart-content">
    @if (Model.Count > 0)
    {
        <!-- Cart Page Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="basket-item">
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <img src="~/img/@item.Image" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="@item.Name">
                                        </div>
                                    </th>
                                    <td>
                                        <p class="mb-0 mt-4">@item.Name</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4">@item.Price.ToString("N2") $</p>
                                    </td>
                                    <td>
                                        <div class="input-group quantity mt-4" style="width: 100px;">
                                            <div class="input-group-btn">
                                                <button class="btn btn-sm btn-minus rounded-circle bg-light border plus-minus" id="@item.Id">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm text-center quantity border-0" value="@item.Quantity" id="quantity-@item.Id">
                                            <div class="input-group-btn">
                                                <button class="btn btn-sm btn-plus rounded-circle bg-light border plus-minus" id="@item.Id">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4  total">@item.TotalPrice.ToString("N2") $</p>
                                    </td>
                                    <td>
                                        <button class="btn btn-md rounded-circle bg-light border mt-4 delete-basket" id="@item.Id">
                                            <i class="fa fa-times text-danger"></i>
                                        </button>
                                    </td>
                                </tr>

                                totalPrice += item.Price * item.Quantity;
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row g-4 justify-content-end">
                    <div class="col-8"></div>
                    <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                        <div class="bg-light rounded">
                            <div class="p-4">
                                <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                            </div>
                            <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                                <h5 class="mb-0 ps-4 me-4">Total</h5>
                                <p class="mb-0 pe-4 total-price">$@totalPrice.ToString("N2")</p>
                            </div>
                            <a asp-controller="CheckOut" asp-action="Index" class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4">Proceed Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart Page End -->
    }
    else
    {
        <!-- Empty Cart Message -->
        <div class="container py-5 text-center">
            <h3>Your cart is empty.</h3>
            <p>Please add items to your cart to proceed.</p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Shopping</a>
        </div>
    }
</div>
