@model HomeVM
@{
    string[] designs = { "bg-secondary rounded border border-secondary",
                         "bg-dark rounded border border-dark",
                         "bg-primary rounded border border-primary" };
    string[] secondaryDesigns ={"bg-primary text-center p-4 rounded",
                                "bg-light text-center p-4 rounded",
                               "bg-secondary text-center p-4 rounded"};

    string[] nameDesigns ={"text-white",
                           "text-primary",
                           "text-white",};

    string categoryProduct = "Vegetables";

    int countOfsecondaryDesign = 0;
    int countOfDesign = 0;
    int countOfNameDesigns = 0;
}
<!-- Hero Start -->
<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary">@Model.SliderInfo.SubTitle</h4>
                <h1 class="mb-5 display-3 text-primary">@Model.SliderInfo.Title</h1>
                <div class="position-relative mx-auto">
                    <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="text" placeholder="Search">
                    <button type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100" style="top: 0; right: 25%;">Submit Now</button>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">

                        @foreach (var item in Model.Sliders)
                        {
                            string active = "active";
                            if (item != Model.Sliders.FirstOrDefault(item))
                            {
                                active = "";
                            }
                            <div class="carousel-item rounded @active">
                                <img src="~/img/@item.Image" class="img-fluid w-100 h-100 rounded">
                                <a href="#" class="btn px-4 py-2 text-white rounded">@item.Name</a>
                            </div>

                        }

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Featurs Section Start -->
<div class="container-fluid featurs py-5">
    <div class="container py-5">
        <div class="row g-4">
            @foreach (var item in Model.Features)
            {

                <div class="col-md-6 col-lg-3">
                    <div class="featurs-item text-center rounded bg-light p-4">
                        <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                            @Html.Raw(item.Icon)
                        </div>
                        <div class="featurs-content text-center">
                            <h5>@item.Name</h5>
                            <p class="mb-0">@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Featurs Section End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="tab-class text-center">
            <div class="row g-4">
                <div class="col-lg-4 text-start">
                    <h1>Our Organic Products</h1>
                </div>
                <div class="col-lg-8 text-end">
                    <ul class="nav nav-pills d-inline-flex text-center mb-5 categories">
                        <li class="nav-item category" category-id="All" style="cursor: pointer;">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill">
                                <span class="text-dark" style="width: 130px;">All Products</span>
                            </a>
                        </li>

                        @foreach (var item in Model.Categories)
                        {
                            <li class="nav-item category" category-id="@item.Id" style="cursor: pointer;">
                                <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill">
                                    <span class="text-dark" style="width: 130px;">@item.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div>
                <div id="tab-1" class="tab-pane p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                @foreach (var item in Model.Products)
                                {
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item" category-id="@item.CategoryId">
                                            <div class="fruite-img">
                                                <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@item.Id">
                                                    <img style="height:215px;" src="~/img/@item.ProductImages.FirstOrDefault(m=>m.IsMain)?.Image" class="img-fluid w-100 rounded-top" alt="">
                                                </a>
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.Category.Name</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom item">
                                                <h4>@item.Name</h4>
                                                <p>@item.Description</p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">$@item.Price.ToString("N2") / kg</p>
                                                    <!-- Your existing HTML structure -->
                                                <form id="addToCartForm-@item.Id" asp-controller="Basket" asp-action="Add" asp-route-productId="@item.Id" basket-id="@item.Id">
                                                        <button type="submit" class="addToCartBtn btn border border-secondary rounded-pill px-3 text-primary" basket-id="@item.Id">
                                                            <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                        </button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
<!-- Featurs Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="row g-4 justify-content-center">

            @foreach (var item in Model.ServiceContents)
            {
                <div class="col-md-6 col-lg-4">
                    <a href="#">
                        <div class="service-item @designs[countOfDesign++]">
                            <img src="~/img/@item.Image" class="img-fluid rounded-top w-100" alt="">
                            <div class="px-4 rounded-bottom">
                                <div class="service-content @secondaryDesigns[countOfsecondaryDesign++]">
                                    <h5 class="@nameDesigns[countOfNameDesigns++]">@item.Title</h5>
                                    <h3 class="mb-0">@item.Description</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<!-- Featurs End -->
<!-- Vesitable Shop Start-->
<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <h1 class="mb-0">Fresh Organic Vegetables</h1>
        <div class="owl-carousel vegetable-carousel justify-content-center">
            @foreach (var item in Model.Products)
            {
                if (item.Category.Name == @categoryProduct)
                {

                    <div class="border border-primary rounded position-relative vesitable-item">
                        <a asp-action="ProductDetail" asp-controller="Shop" asp-route-id="@item.Id">
                            <div class="vesitable-img">
                                <img src="~/img/@item.ProductImages.FirstOrDefault(m=>m.IsMain).Image" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                        </a>
                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">@item.Category.Name</div>
                        <div class="p-4 rounded-bottom">
                            <h4>@item.Name</h4>
                            <p>@item.Description</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0">$ @item.Price.ToString("N2") / kg</p>
                                <form id="addToCartForm-@item.Id" asp-controller="Basket" asp-action="Add" asp-route-productId="@item.Id" basket-id="@item.Id">
                                    <button type="submit" class="addToCartBtn btn border border-secondary rounded-pill px-3 text-primary" basket-id="@item.Id">
                                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>
<!-- Vesitable Shop End -->
<!-- Banner Section Start-->
<div class="container-fluid banner bg-secondary my-5">
    <div class="container py-5">
        <div class="row g-4 align-items-center">
            <div class="col-lg-6">
                <div class="py-4">
                    <h1 class="display-3 text-white">@Model.Fresh.Title</h1>
                    <p class="fw-normal display-3 text-dark mb-4">@Model.Fresh.SubTitle</p>
                    <p class="mb-4 text-dark">@Model.Fresh.Description</p>
                    <a asp-action="Index" asp-controller="Shop" class="banner-btn btn border-2 border-white rounded-pill text-dark py-3 px-5">BUY</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative">
                    <img src="~/img/baner-1.png" class="img-fluid w-100 rounded" alt="">
                    <div class="d-flex align-items-center justify-content-center bg-white rounded-circle position-absolute" style="width: 140px; height: 140px; top: 0; left: 0;">
                        <h1 style="font-size: 100px;">@Model.Fresh.PriceFirst</h1>
                        <div class="d-flex flex-column">
                            <span class="h2 mb-0">@Model.Fresh.PriceSecond$</span>
                            <span class="h4 text-muted mb-0">kg</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->
<!-- Bestsaler Product Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 700px;">
            <h1 class="display-4">Bestseller Products</h1>
            <p>Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
        </div>
        <div class="row g-4">
            @foreach (var item in Model.Products.Take(6))
            {

                <div class="col-lg-6 col-xl-4">
                    <div class="p-4 rounded bg-light">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <img style="width=500px;" src="~/img/@item.ProductImages.FirstOrDefault(m=>!m.IsMain).Image" class="   img-fluid rounded-circle w-100" alt="">
                            </div>
                            <div class="col-6">
                                <a href="#" class="h5">@item.Name</a>
                                <div class="d-flex my-3">
                                    @for (int i = 0; i < item.Rating; i++)
                                    {
                                        <i class="fas fa-star text-primary"></i>
                                    }

                                    @for (int i = 0; i < Math.Abs((int)item.Rating - 5); i++)
                                    {
                                        <i class="fas fa-star"></i>
                                    }
                                </div>
                                <h4 class="mb-3">@item.Price.ToString("N2")$</h4>
                                <form id="addToCartForm-@item.Id" asp-controller="Basket" asp-action="Add" asp-route-productId="@item.Id" basket-id="@item.Id">
                                    <button type="submit" class="addToCartBtn btn border border-secondary rounded-pill px-3 text-primary" basket-id="@item.Id">
                                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            }
            @foreach (var item in Model.Products.Skip(2).Take(4))
            {

                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="text-center">
                        <img src="~/img/@item.ProductImages.FirstOrDefault(m=>m.IsMain).Image" class="img-fluid rounded" alt="">
                        <div class="py-4">
                            <a href="#" class="h5">Organic @item.Name</a>
                            <div class="d-flex my-3 justify-content-center">
                                  @for (int i = 0; i < item.Rating; i++)
                                    {
                                        <i class="fas fa-star text-primary"></i>
                                    }

                                    @for (int i = 0; i < Math.Abs((int)item.Rating - 5); i++)
                                    {
                                        <i class="fas fa-star"></i>
                                    }
                            </div>
                            <h4 class="mb-3">@item.Price.ToString("N2")$</h4>
                            <form id="addToCartForm-@item.Id" asp-controller="Basket" asp-action="Add" asp-route-productId="@item.Id" basket-id="@item.Id">
                                <button type="submit" class="addToCartBtn btn border border-secondary rounded-pill px-3 text-primary" basket-id="@item.Id">
                                    <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Bestsaler Product End -->
<!-- Fact Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="bg-light p-5 rounded">
            <div class="row g-4 justify-content-center">
                @foreach (var item in Model.FactContents)
                {
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="counter bg-white rounded p-5">
                            @Html.Raw(item.Icon)
                            <h4>@item.Title</h4>
                            <h1>@item.NumberInfo</h1>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<!-- Fact Start -->
<!-- Tastimonial Start -->
<div class="container-fluid testimonial py-5">
    <div class="container py-5">
        <div class="testimonial-header text-center">
            <h4 class="text-primary">Our Testimonial</h4>
            <h1 class="display-5 mb-5 text-dark">Our Client Saying!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item img-border-radius bg-light rounded p-4">
                <div class="position-relative">
                    <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0;"></i>
                    <div class="mb-4 pb-4 border-bottom border-secondary">
                        <p class="mb-0">
                            Lorem Ipsum is simply dummy text of the printing Ipsum has been the industry's standard dummy text ever since the 1500s,
                        </p>
                    </div>
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="bg-secondary rounded">
                            <img src="~/img/testimonial-1.jpg" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                        </div>
                        <div class="ms-4 d-block">
                            <h4 class="text-dark">Client Name</h4>
                            <p class="m-0 pb-3">Profession</p>
                            <div class="d-flex pe-5">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item img-border-radius bg-light rounded p-4">
                <div class="position-relative">
                    <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0;"></i>
                    <div class="mb-4 pb-4 border-bottom border-secondary">
                        <p class="mb-0">
                            Lorem Ipsum is simply dummy text of the printing Ipsum has been the industry's standard dummy text ever since the 1500s,
                        </p>
                    </div>
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="bg-secondary rounded">
                            <img src="~/img/testimonial-1.jpg" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                        </div>
                        <div class="ms-4 d-block">
                            <h4 class="text-dark">Client Name</h4>
                            <p class="m-0 pb-3">Profession</p>
                            <div class="d-flex pe-5">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item img-border-radius bg-light rounded p-4">
                <div class="position-relative">
                    <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0;"></i>
                    <div class="mb-4 pb-4 border-bottom border-secondary">
                        <p class="mb-0">
                            Lorem Ipsum is simply dummy text of the printing Ipsum has been the industry's standard dummy text ever since the 1500s,
                        </p>
                    </div>
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="bg-secondary rounded">
                            <img src="~/img/testimonial-1.jpg" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                        </div>
                        <div class="ms-4 d-block">
                            <h4 class="text-dark">Client Name</h4>
                            <p class="m-0 pb-3">Profession</p>
                            <div class="d-flex pe-5">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

